/* global element style */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
}

/* container style  */
.container {
  width: 1280px;
  background-image: url('./assets/bkg.png');
  margin: auto;
}
/* navbar start */
.navbar-container {
  height: 113px;
  margin: auto;
  background-color: white;
  -webkit-box-shadow: 0px 11px 26px -8px rgba(0, 0, 0, 0.52);
  box-shadow: 0px 11px 26px -8px rgba(0, 0, 0, 0.52);
}
.navbar {
  width: 960px;
  margin: auto;
  transform: translate(10px);
  -ms-transform: translate(10px);
  font-size: 0%;
  height: 100%;
}
/* logo and text  */
.brand {
  vertical-align: bottom;
  display: inline-block;
  height: 100%;
  width: 518px;
}
.brand::before {
  display: inline-block;
  content: '';
  height: 100%;
  vertical-align: middle;
}
.brand-logo {
  background-image: url('./assets/logo.png');
  vertical-align: middle;
  height: 77px;
  display: inline-block;
  width: 265px;
}
.brand-text {
  color: #023e78;
  padding-left: 16px;
  padding-top: 9px;
  font-size: 30px;
  font-weight: normal;
  letter-spacing: 0.057em;
  word-spacing: -1px;
  font-family: 'perpetua';
  vertical-align: middle;
  display: inline-block;
  margin: 0;
}
/* links and info  */
.nav-info {
  width: 442px;
  height: 100%;
  display: inline-block;
  font-size: 13px;
  font-weight: 700;
  font-family: 'roboto';
}
.nav-links {
  display: inline;
  float: right;
}

.nav-lists {
  padding-top: 7px;
  padding-left: 0;
  padding-bottom: 5px;
  margin: 0;
  display: inline-block;
}
.nav-lists.background {
  background-color: #f3f2f2;
  border-bottom-left-radius: 3px;
}
.nav-lists li {
  display: inline-block;
}
.nav-lists li a {
  color: #1486ba;
}
#first {
  padding-right: 10px;
}
#second {
  border-left: 2px solid #1486ba;
  padding-right: 16px;
  padding-left: 14px;
}
#third {
  padding-right: 2px;
  padding-left: 28px;
}
#four {
  border-left: 2px solid #1486ba;
  padding-left: 7px;
  padding-right: 24px;
}
/* contact number  */
.contact {
  display: block;
  clear: both;
  float: right;
  padding-right: 12px;
  padding-top: 14px;
}
.contact-text {
  vertical-align: middle;
  display: inline-block;
}
.contact-text span {
  display: block;
}
#contact-desc {
  font-weight: 400;
  font-size: 12px;
  padding-bottom: 2px;
}
#contact-numb {
  color: #1486ba;
  font-weight: 700;
  font-size: 17px;
  margin: 0;
}
.contact img {
  margin-right: 13px;
  vertical-align: middle;
}

.main {
  width: 960px;
  margin: auto;
  transform: translate(10px);
  -ms-transform: translate(10px); /*IE9 compatibilty  */
  font-size: 0%;
  background-color: white;
  font-family: 'roboto';
}

/* blue bar between slider and nav  */
.blue-bar {
  background-color: #11516f;
  height: 41px;
  width: 100%;
}
.blue-bar::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.blue-bar #bar-text {
  letter-spacing: -0.02em;
  vertical-align: middle;
  font-size: 11px;
  margin-left: 22px;
  padding-top: 8px;
  color: white;
}
#bar-text img {
  display: inline-block;
  vertical-align: middle;
  font-size: 8px;
  margin: 0 5px 0 6px;
}
/* search div  */
.search {
  height: 150px;
  width: 100%;
  background-image: url(./assets/search_bk.png);
}

#pharma-logo {
  margin: 34px 0px 0px 42px;
}
/* input div  */
.form {
  float: right;
}
.form {
  font-size: 14px;
  color: white;
  margin-top: 35px;
  margin-right: 50px;
}
.form input {
  height: 47px;
  width: 377px;
  border-radius: 10px;
  border: none;
}
.form input::placeholder {
  padding-left: 14px;
  letter-spacing: 0.03em;
}
.form p {
  max-width: 405px;
  letter-spacing: 0.06em;
}
.form img {
  display: inline-block;
  vertical-align: top;
}
/* slider  */
.my-slider {
  height: 325px;
  width: 100%;
}

/* controller div  */
#controller {
  height: 50px;
  width: 100%;
  transform: translate(0, -50px);
  -ms-transform: translate(0, -50px);
  background-color: rgba(0, 0, 0, 0.5);
}
#control-buttons-container {
  float: right;
  height: 100%;
  margin-right: 20px;
}
#control-buttons-container::before {
  height: 100%;
  vertical-align: middle;
  content: '';
  display: inline-block;
}
/* control button style  */
.control-buttons {
  border-radius: 50%;
  background-color: rgb(153, 153, 153);
  box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
  width: 7px;
  height: 7px;
  border: none;
  vertical-align: middle;
  padding: 0;
  margin-left: 6px;
}
.control-buttons.tns-nav-active {
  background-color: rgb(255, 255, 255);
}
.content {
  transform: translate(0, -50px);
  -ms-transform: translate(0, -50px); /*IE9 compatibility */
}
/* general styles for list containers  */
.content-container {
  border: 1px solid #eeeeee;
  padding: 22px 25px 5px 27px;
  font-size: 0;
  display: inline-block;
  margin-top: 20px;
  margin-left: 20px;
  background-color: #fafafa;
  vertical-align: top;
}
.content-container a {
  color: #11516f;
  font-weight: 700;
}
.content-heading {
  font-size: 12px;
  margin-bottom: 7px;
}
.content-heading h3 {
  margin: 0;
  letter-spacing: 0.05em;
  color: #06628d;
}
.content-heading h3 a {
  float: right;
  font-size: 12px;
  font-weight: 700;
  margin-top: 3px;
}
.list-container {
  font-size: small;
  font-weight: 700;
  display: inline-block;
  vertical-align: top;
}
.item-container {
  padding-top: 17px;
  padding-bottom: 22px;
  border-top: 1px solid #eeeeee;
  max-width: 315px;
}

.content-container.list {
  padding: 22px 10px 24px 14px;
  min-height: 318px;
}
.content-container.block {
  display: block;
}
.item-image {
  vertical-align: middle;
  margin-right: 7px;
}
.item-text {
  /* display: inline-block;
      vertical-align: middle; */
  max-width: 260px;
  float: right;
}
.item-text p {
  font-size: 11px;
  letter-spacing: 0.008em;
  font-weight: 400;
  margin-top: 8px;
}
.item-text ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.item-text ul li {
  margin-bottom: 10px;
}
/* some specific div styles */
.content-container.ad {
  padding: 0px 10px 24px 10px;
  background-color: white;
  border: none;
}
.list-container.second .item-container {
  padding-left: 36px;
  max-width: 353px;
}

.item-container.list {
  padding-top: 14px;
}
.content-container.whitepaper {
  padding-bottom: 8px;
}
.content-container.whitepaper .item-container {
  max-width: 302px;
  padding-bottom: 20px;
  padding-top: 16px;
}
.content-container.whitepaper .item-container .item-text {
  max-width: 213px;
}
.content-container.whitepaper .item-container .item-text p {
  line-height: 1.4;
}
.content-container.whitepaper .item-image {
  margin-right: 19px;
  margin-top: 3px;
}
#ad1-container {
  height: 183px;
  display: inline-block;
  width: 351px;
  padding-left: 36px;
}
/* ad 160*600 */
#ad1 {
  background-color: #ecf9ff;
  width: 313px;
  height: 180px;
  padding-left: 66px;
  padding-top: 15px;
}
.date {
  margin-left: 5px;
  color: #b3b3b3;
  font-size: 12px;
  vertical-align: top;
}

.second-layer {
  display: inline-block;
}
/* featured video container */
.main-video-container {
  padding-bottom: 15px;
  padding-top: 16px;
  border-top: 1px solid #f0f0f0;
}
.main-video {
  height: 169px;
  width: 300px;
  background-position: center;
  margin-bottom: 16px;
}
.main-video::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.main-video img {
  display: inline-block;
  vertical-align: middle;
  margin-left: 119px;
}
.main-desc {
  font-size: 10px;
  max-width: 275px;
}
.main-desc h3 {
  margin: 0;
  letter-spacing: 0.05em;
  margin-bottom: 10px;
}
.main-desc p {
  letter-spacing: 0.05em;
  line-height: 1.5;
  margin: 0;
}
.sub-video-container {
  max-width: 300px;
  border-top: 1px solid #f0f0f0;
  padding-top: 20px;
  padding-bottom: 12px;
}
.sub-video {
  display: inline-block;
  width: 100px;
  height: 56px;

  background-position: center;
  background-size: contain;
  margin-right: 12px;
}
.sub-video::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.sub-video img {
  display: inline-block;
  vertical-align: middle;
  margin-left: 35px;
}
.sub-desc {
  font-size: 10px;
  display: inline-block;
  max-width: 164px;
  vertical-align: top;
}
.sub-desc h3 {
  margin-top: 5px;
  margin-bottom: 12px;
}
/* ad 768*90 */
#ad3 {
  margin-top: 40px;
  width: 100%;
  height: 131px;
  background-color: #ecf9ff;
  transform: translate(0, -50px);
  -ms-transform: translate(0, -50px);
}
#ad3::before {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
#ad3 img {
  display: inline-block;
  vertical-align: middle;
  margin-left: 96px;
}
/* footer styles */
.footer {
  height: 252px;
  font-family: 'roboto';
  width: 100%;
  background-color: white;
  transform: translate(0, -10px);
  -ms-transform: translate(0, -10px);
  border-top: 1px solid #d4d4d4;
}

.footer-lists {
  display: inline-block;
  vertical-align: top;
  margin-right: 0px;
}
.footer-lists h3 {
  font-size: 16px;
  margin-bottom: 19px;
  margin-top: 0px;
}

.foot-list-cont {
  margin-top: 34px;
  margin-left: 195px;
  display: inline-block;
  border-right: 2px solid #f0f0f0;
  padding-right: 44px;
  padding-bottom: 15px;
  vertical-align: top;
}
.footer-lists ul {
  margin: 0;
  padding: 0;
  padding-left: 2px;
  list-style: none;
  font-size: 12px;
  letter-spacing: 0.02em;
}
.footer-lists ul li {
  margin-bottom: 5px;
}
.sponsors {
  display: inline-block;
  padding-left: 10px;
  padding-top: 35px;
  vertical-align: bottom;
}
/* video popup styles */
.popup {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.548);
  z-index: 2;
  width: 100%;
  height: 100vh;
  transition: all 1s ease-out;
}
.popup.show {
  visibility: visible;
  opacity: 1;
}
.frame-container {
  width: 1000px;
  margin: auto;
  font-size: 0;
  height: 100vh;
}
.frames {
  height: 100%;
}
.frames::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.frames img {
  display: inline-block;
  vertical-align: middle;
}
.frames iframe {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 10px;
}
.vid-control {
  cursor: pointer;
}
#close {
  position: fixed;
  top: 10px;
  right: 40px;
  font-size: 50px;
  font-family: 'roboto';
  cursor: pointer;
  color: white;
}
